/* G FONTS */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

/* VARIABLE CSS */
:root {
  --header-height: 3rem;
  --nav-width: 68px;

  /* COLOR */
  --first-color: #40407a;
  /* --first-color: #4723d9; */
  --first-color-light: #a6a6ce;
  /* --first-color-light: #afa5d9; */
  --white-color: #f7f6fb;

  /* FONT */
  --body-font: "Nunito", sans-serif;
  --normal-font-size: 1rem;
  --small-font-size: 0.9rem;

  /* Z INDEX */
  --z-fixed: 100;
}

/* BASE */
*,
::before,
::after {
  box-sizing: border-box;
}

body {
  position: relative;
  margin: var(--header-height) 0 0 0;
  padding: 0 1rem;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  transition: 0.5s;
  background-color: #f7f7ff;
}
a {
  text-decoration: none !important;
}

/* HEADER */
.header {
  width: 100%;
  height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  background-color: #d0d0ee;
  z-index: var(--z-fixed);
  transition: 0.5s;
}

.header__toggle {
  color: var(--first-color);
  font-size: 1.5rem;
  cursor: pointer;
}

.header__img {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
}

.header__img img {
  width: 40px;
}

/* NAV */
.l-navbar {
  position: fixed;
  top: 0;
  left: -30%;
  width: var(--nav-width);
  /* width: calc(var(--nav-width) + 156px); */
  height: 100vh;
  background-color: var(--first-color);
  padding: 0.5rem 1rem 0 0;
  transition: 0.5s;
  z-index: var(--z-fixed);
}

.nav {
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.nav__logo,
.nav__link {
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  column-gap: 1rem;
  padding: 0.5rem 0 0.5rem 1.5rem;
}

.nav__logo {
  margin-bottom: 2rem;
}

.nav__logo-icon {
  font-size: 1.25rem;
  color: var(--white-color);
}

.nav__logo-name {
  color: var(--white-color);
  font-weight: 700;
}

.nav__link {
  position: relative;
  color: var(--first-color-light);
  margin-bottom: 0.5rem;
  transition: 0.3s;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.nav__link:hover {
  color: var(--white-color);
}

.nav__icon {
  font-size: 1.25rem;
}

/* show navbar */
.show {
  left: 0;
}

.body-pd {
  padding-left: calc(var(--nav-width) + 1rem);
}

/* active link */
.active {
  color: var(--first-color);
  background-color: var(--white-color);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.active:hover {
  color: var(--first-color);
  /* background-color: var(--first-color-light); */
}

section {
  margin-top: 60px;
}

.card {
  width: 240px;
  height: 140px;
  background: white;
  border-radius: 5px;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
}

.card-body {
  padding: 5px;
}

/* 
.active::before {
  content: "";
  position: absolute;
  left: 0;
  width: 2px;
  height: 32px;
  background-color: var(--white-color);
} */

/* COLLAPSE */
/* .collapse {
  grid-template-columns: 20px max-content 1fr;
}

.collapse__link {
  justify-self: flex-end;
  transition: 0.5s;
}

.collapse__menu {
  display: none;
  padding: 0.75rem 2.25rem;
}

.collapse__sublink {
  color: var(--first-color-light);
  font-size: var(--small-font-size);
}

.collapse__sublink:hover {
  color: var(--white-color);
}
*/
/* show collapse */
/* .showCollapse {
  display: block;
}

.rotate {
  transform: rotate(180deg);
  transition: 0.5s;
} */

/* MEDIA QUERY / RESPONSIVE */
@media screen and (min-width: 768px) {
  body {
    margin: calc(var(--header-height) + 1rem) 0 0 0;
    padding-left: calc(var(--nav-width) + 2rem);
  }

  .header {
    height: calc(var(--header-height) + 0.5rem);
    padding: 0 2rem 0 calc(var(--nav-width) + 2rem);
  }

  .header__img {
    width: 35px;
    height: 35px;
  }

  .header__img img {
    width: 40px;
  }

  .l-navbar {
    left: 0px;
    padding: 1rem 1rem 0 0;
  }

  section {
    margin-top: 75px;
  }

  .show {
    width: calc(var(--nav-width) + 156px);
  }

  .body-pd {
    padding-left: calc(var(--nav-width) + 188px);
  }
}
